@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

html,
body,
article {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'IBM Plex Mono', monospace;
	position: relative;
	min-width: 1024px;
	overflow: hidden;
}

.roizman {
    background: url(../img/roizman.jpg) 50% 50%;
    background-size: cover;
}

article {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    line-height: 1.8;
	font-size: 18px;
	text-align: center;
    background: rgba(0, 0, 0, 0.5);
	text-shadow: 1px 2px 0 #000;
	z-index: 2;
}

article:not(.hide) ~ canvas {
	filter: blur(3px);
}

section {
    max-width: 800px;
    text-align: left;
}

h1 {
	font-size: 40px;
	margin-bottom: 30px;
}

p {
	margin-bottom: 25px;
}

.note {
    font-size: 14px !important;
    margin: 20px 0 !important;
    color: #c3c3c3;
}

canvas {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
    margin: auto;
	z-index: 1;
}

button {
	display: inline-block;
	outline: none;
    margin: 25px 0 15px;
    padding: 17px 35px;
    border: none;
    color: white;
    font: 22px 'IBM Plex Mono', monospace;
    background: #317b1e;
    box-shadow: inset 0 -2px #438434, inset -3px -3px #3a8229, inset 3px -3px #5a984b, inset 4px 3px #2b8815, 1px 0 0 3px #0a0a0a21;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.39);
}

button:hover {
    background: rgb(80, 162, 60);
    box-shadow: inset 0 -2px #60b74c, inset -3px -3px #80ad75, inset 3px -3px #68af57, inset 4px 3px #6eaf5f, 1px 0 0 3px #0a0a0a21;
}

button:active {
	background: rgb(46, 103, 33);
    box-shadow: inset 0 -2px #458436, inset -3px -3px #437737, inset 3px -3px #416d36, inset 4px 3px #47753c, 1px 0 0 3px #0a0a0a21;
}

video {
	box-shadow: 0 5px 55px rgba(0,0,0,.5);
}

.hide {
	display: none;
}

::selection {
    background: #41922d;
    color: #fff;
}

::-moz-selection {
    background: #41922d;
    color: #fff;
}