
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}


::selection {
    background: #41922d;
    color: #fff;
}

::-moz-selection {
    background: #41922d;
    color: #fff;
}

html {
    background: rgb(15, 15, 15);
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
	font-family: 'IBM Plex Mono', monospace;
}

.roizman {
    background: url(../img/roizman.jpg) 50% 50%;
    background-size: cover;
}

.screen {
    position: relative;
	z-index: 2;
    width: 100%;
    min-height: 100%;
    color: #ffffff;
	font-size: 17px;
    line-height: 1.8;
    text-shadow: 1px 2px 0 #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen:not(.hide) ~ .game-container {
	filter: blur(15px) brightness(.5);
}

.screen__inner {
    width: 100%;
    padding: 0 5%;
    max-width: 750px;
}

h1 {
	margin-bottom: 30px;
	font-size: 40px;
}

p {
	margin-bottom: 25px;
}

video {
    width: 100%; 
    height: 100%;
    max-width: 800px;
    max-height: 438px;
}

.note {
    margin: 20px 0 !important;
    color: #c3c3c3;
    font-size: 14px !important;
}

.game-container {
    transition: .4s all ease-in;
	position: absolute;
	z-index: 1;
    top: 50%;
    left: 50%;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    max-width: 1024px;
    max-height: 650px;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}


canvas {
    position: relative;
}

button {
	display: inline-block;
    margin: 25px 0 15px;
    padding: 17px 35px;
    border: none;
	outline: none;
    background: #317b1e;
    box-shadow: inset 0 -2px #438434, inset -3px -3px #3a8229, inset 3px -3px #5a984b, inset 4px 3px #2b8815, 1px 0 0 3px #0a0a0a21;
    color: white;
    font: 22px 'IBM Plex Mono', monospace;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.39);
}

button:hover {
    background: rgb(80, 162, 60);
    box-shadow: inset 0 -2px #60b74c, inset -3px -3px #80ad75, inset 3px -3px #68af57, inset 4px 3px #6eaf5f, 1px 0 0 3px #0a0a0a21;
}

button:active {
	background: rgb(46, 103, 33);
    box-shadow: inset 0 -2px #458436, inset -3px -3px #437737, inset 3px -3px #416d36, inset 4px 3px #47753c, 1px 0 0 3px #0a0a0a21;
}

video {
	box-shadow: 0 5px 55px rgba(0,0,0,.5);
}

.hide {
	display: none;
}

@media (max-width: 992px) {
    h1 {
        margin-top: 20px;
        font-size: 30px;
    }

    .screen {
        font-size: 14px;
        line-height: 1.3;
    }

    button {
        margin-top: 40px;
    }
}

@media (orientation: portrait) {
    .screen {
        align-items: flex-start;
    }
    
    .game-container {
        top: 0;
        height: auto;
        transform: translate(-50%, 0%);
    }
}
